```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Environment
.env
.env.local
*.env.*

# Dependencies
.venv/
venv/
pip-log.txt
pipenv.lock

# Coverage
.coverage
htmlcov/
.coverage.*
.cache

# Testing
.pytest_cache/
.hypothesis/

# Distribution / packaging
dist/
build/
*.egg-info/
.installed.cfg
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo
*.tmp

# OS
.DS_Store
Thumbs.db

# MyPy
.mypy_cache/
```